.bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    float: left;
    overflow: hidden;

    height: calc(100vh - 60px);
    width: 130px;
    background: var(--white);
    box-shadow: 1px 0 black;
}

.topContent {
    vertical-align: top;
}

.bottomContent {
    vertical-align: bottom;
}