.bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    float: left;
    overflow: auto;

    height: calc(100vh - 60px);
    width: 130px;
    background: var(--white);
    border-right: 1px solid gray;
}

.topContent {
    vertical-align: top;
}

.bottomContent {
    vertical-align: bottom;
}